/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Estilos del cuerpo (body) */
body {
    background-image: url(../images/sisi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'REM', sans-serif;
}

/* Estilos del encabezado (header) */
.header-container {
    background-color: #333;
    padding: 30px 20px;
    font-size: 28px;
    font-family: 'REM', sans-serif;
    overflow: hidden;
}

.logo {
    float: left;
    padding: 15px 10px;
    text-transform: uppercase;
}

    /*background-image: linear-gradient(to top, red, orange);*/


.barra {
    float: right;
    padding: 15px 10px;
}

.barra ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.barra ul li {
    display: inline-block;
    margin-right: 15px;
}

.barra a {
    text-decoration: none;
    
}



/* Estilos de la sección "call" */
.call {
    text-align: center;
    margin: 30px;
    padding: 20px;
    font-family: 'REM', sans-serif;
}

.call p {
    margin-bottom: 20px;
}

.call a {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Estilos para encabezados h1, h2, h3 */
h1, h2, h3 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-family: 'REM', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Estilos de la sección "section" */
section {
    height: 700px;
    width: 100%;
    background-color: #333;
}

/* Estilos del pie de página (footer) */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-family: 'REM', sans-serif;
}

/* Estilos de las redes sociales (redes) */
.redes {
    color: #333;
    font-size: 50px;
    letter-spacing: 10px;
}

/* Estilos del botón "subir" */
.subir {
    height: 40px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 0 5px #fff;
}


