footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-family: 'REM', sans-serif;
}

.redes {
    color: #333;
    font-size: 50px;
    letter-spacing: 10px;
}