.subir {
    height: 40px;
    width: 40px;
    background-color: red;
    color: #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 0 5px #fff;
}